* {
  box-sizing: border-box;
}

.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px repeat(5, 1fr);
  grid-template-areas:
    'header header'
    'coins my-coins'
    'coins my-coins'
    'coins my-coins'
    'coins sell'
    'purchase wallet';
  justify-items: center;
  padding: 10px;
  & > * {
    background-color: #fcfafa;
    width: 100%;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(233, 231, 231, 0.91);
    box-shadow: 0px 0px 3px 2px rgba(233, 231, 231, 0.91);
  }
  gap: 10px;
}
.header {
  grid-area: header;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.container-coins {
  grid-area: coins;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 5px;
  ul {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    gap: 10px;
    overflow-y: scroll;
    li {
      display: flex;

      .coin-description {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.container-my_coins {
  grid-area: my-coins;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 5px;
  ul {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    gap: 10px;
    overflow-y: scroll;
    li {
      display: flex;

      .coin-description {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
.container-purchase {
  grid-area: purchase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}
.container-sell {
  grid-area: sell;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}
.container-wallet {
  grid-area: wallet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
h1 {
  font-size: 32px;
}
.container-coins {
}
